/* ======= MOBILE ======= */

.footer {
  font-family: var(--font-primary);
  background-color: var(--color-bg-dark);
}

/* === Top footer === */

.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;

  position: relative;
  padding-block: 50px;
}

.footer__title {
  color: var(--color-text-light);
}

.footer__description {
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-text-light);
}

/* subscribe */

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.footer__input {
  padding: 10px 16px;
  width: 282px;
  height: 42px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--color-bg-white);

  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: var(--color-placeholder-form);

  transition: border var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.footer__input:focus {
  outline: none;
  border: 1px solid var(--color-accent);
  box-shadow: 0 0 8px 1px var(--color-accent);
}

.footer__form-btn {
  border-radius: 4px;
  padding: 12px 30px;
  background-color: var(--color-accent);

  font-weight: 500;
  line-height: 1.12;
  letter-spacing: 0.02em;
  color: var(--color-text-light);
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--color-line-footer);
}

/* === Middle footer === */

.footer__middle {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding-block: 50px;
}

/* logo / social */

.footer__brand {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.footer__logo {
  display: flex;
  align-items: center;
  column-gap: 16px;

  font-family: var(--font-tertiary);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.25;
  color: var(--color-text-brand);
}

.footer__social-list {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.footer__social-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-bg-social-icon);
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.footer-social-icon {
  fill: var(--color-accent);
}

/* resources, legal stuff, office */

.footer__subtitle {
  margin-bottom: 16px;
  font-size: 20px;
  color: var(--color-text-light);
}

.footer__resources-list,
.footer__legal-list,
.footer__address {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.footer__resources-link,
.footer__legal-link,
.footer__address-link,
.footer__address-text {
  line-height: 2.18;
  color: var(--color-text-light);
}

.footer__address {
  font-style: normal;
}

/* === Bottom footer === */

.footer__bottom {
  padding-block: 16px;
  background-color: var(--color-bg-footer-copyright);
}

.footer__copyright {
  line-height: 1.87;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-text-light);
}

/* ======= TABLET ======= */

@media screen and (min-width: 768px) {
  /* === Top footer === */

  .footer__description {
    font-size: 18px;
  }

  /* subscribe */
  .footer__form {
    flex-direction: row;
    align-items: stretch;
    gap: 0 11px;
  }

  /* === Middle footer === */

  .footer__middle {
    flex-direction: row;
    justify-content: space-between;
    row-gap: 0;
  }
}

/* ======= LAPTOP & DESKTOP ======= */

@media screen and (min-width: 1200px) {
  .footer__form-btn {
    transition: background-color var(--duration) var(--timing-function);
  }
  .footer__form-btn:hover,
  .footer__form-btn:focus {
    background-color: var(--color-state-secondary);
  }

  .footer__social-item {
    transition: box-shadow var(--duration) var(--timing-function);
  }
  .footer__social-item:hover,
  .footer__social-item:focus {
    box-shadow: 0 0 12px 2px var(--color-accent);
  }

  .footer__resources-link,
  .footer__legal-link,
  .footer__address-link,
  .footer__logo {
    transition: color var(--duration) var(--timing-function);
  }
  .footer__resources-link:hover,
  .footer__resources-link:focus,
  .footer__legal-link:hover,
  .footer__legal-link:focus,
  .footer__address-link:hover,
  .footer__address-link:focus {
    color: var(--color-accent);
  }

  .footer__logo:hover,
  .footer__logo:focus,
  .footer__address-link:hover,
  .footer__address-link:focus {
    color: var(--color-state-primary);
  }
}
