/* hidden card for mobile and desktop */
.popular__card--extra {
  display: none;
}

/* ======= MOBILE ======= */

.popular {
  padding-block: 50px 30px;
  font-family: var(--font-primary);
}

.popular__title {
  margin-bottom: 16px;
  font-size: 34px;
  text-align: center;
}

.popular__description {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-text-secondary);
}

/* list of popular tools cards */

.popular__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  margin-bottom: 50px;
}

.popular__card {
  border-radius: 8px;
  max-width: 360px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--color-bg-white);
}

.popular__card-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

/* card icon */

.popular__card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
  height: 187px;
  border-radius: 5px;
  background-color: var(--color-bg-card-icon);
}

/* card info */

.popular__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.popular__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.popular__text {
  margin-bottom: 16px;
  line-height: 1.6;
  color: var(--color-text-secondary);
}

.popular__tags {
  display: flex;
  column-gap: 16px;
}

/* link to the page */

.popular__page-wrapper {
  display: flex;
  justify-content: center;
}

/* ======= TABLET ======= */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .popular__card--extra {
    display: block;
  }

  .popular__cards {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    column-gap: 20px;
  }

  .popular__card {
    width: calc((100% - 20px) / 2);
  }
}

/* ======= LAPTOP & DESKTOP ======= */

@media screen and (min-width: 1200px) {
  .popular__cards {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 50px 30px;
  }

  .popular__card {
    width: calc((100% - 60px) / 3);
    transition: box-shadow 500ms var(--timing-function);
  }

  .popular__card:hover,
  .popular__card:focus {
    box-shadow: 0 32px 56px 0 rgba(0, 0, 0, 0.08);
  }

  .popular__page-link {
    transition: background-color var(--duration) var(--timing-function);
  }

  .popular__page-link:hover,
  .popular__page-link:focus {
    background-color: var(--color-dark-grey-button);
  }
}
