:root {
  /* ======= fonts ======= */
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --font-tertiary: 'Montserrat Alternates', sans-serif;

  /* ======= colors ======= */
  --color-bg-body: #ffffff;
  --color-bg-dark: #1f2e35;
  --color-bg-dark-gray: #333f44;
  --color-bg-light: #f9f9f9;

  --color-text-primary: #333e44;
  --color-text-secondary: #475e69;
  --color-text-light: #ffffff;

  --color-accent: #0086d6;
  --color-state-primary: #20c08b;
  --color-state-secondary: #0075b9;

  --color-pricing-plan-free: #20c08b;
  --color-pricing-plan-premium: #ffc942;
  --color-pricing-plan-one-month: #009bff;

  --color-dark-grey: #30444e;
  --color-light-green: #2fd886;
  --color-light-red: #f36;

  /* transition */
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
