:root {
  /* ======= fonts ======= */
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --font-tertiary: 'Montserrat Alternates', sans-serif;

  /* ======= colors ======= */
  --color-bg-body: #ffffff;
  --color-bg-dark: #1f2e35;
  --color-bg-dark-gray: #333f44;
  --color-bg-white: #ffffff;
  --color-bg-light: #f9f9f9;
  --color-bg-tag: #e1ebfb;
  --color-bg-card-icon: #f5f5f5;
  --color-bg-footer-copyright: #1d292f;

  --color-text-primary: #333e44;
  --color-text-secondary: #475e69;
  --color-text-light: #ffffff;
  --color-text-brand: #f4f4f4;

  --color-accent: #0086d6;
  --color-state-primary: #20c08b;
  --color-state-secondary: #0075b9;

  --color--plan-free: #20c08b;
  --color--plan-premium: #ffc942;
  --color--plan-trial: #009bff;

  --color-dark-gray: #30444e;
  --color-dark-gray-button: #465861;
  --color-light-green: #2fd886;
  --color-light-red: #f36;

  --color-star-rating: #ffc942;
  --color-border-testimonials: #dedede;
  --color-line-footer: #666666;
  --color-placeholder-form: #737b7d;

  /* transition */
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
