/* Page login */
.login-link {
  padding: 8px 20px;
  border-radius: 8px;
  background-color: var(--color-accent);

  font-weight: 500;
  font-size: clamp(16px, 1.2vw, 18px);
  line-height: 1.08;
  letter-spacing: 0.01em;
  color: var(--color-text-light);
}

/* Explore Now link */
.hero-link {
  display: inline-block;
  padding-inline: 28px;
  border-radius: 8px;
  background-color: var(--color-accent);
  font-size: 20px;
  line-height: 3.05;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: var(--color-text-light);
}

/* See All link btn */
.page-link {
  padding: 8px 46px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--color-bg-dark-gray);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: var(--color-text-light);
}
