/* ======= MOBILE ======= */

.hero-about {
  background-image: url(../../../images/about/hero/bg-mobile.svg);
  background-repeat: repeat;
  background-position: center;
  height: 500px;
  z-index: 1;
}

.hero-about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;

  position: relative;
  height: 100%;
  text-align: center;
}

.hero-about__title {
  max-width: 550px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.55;
  color: var(--color-text-light);
  z-index: 3;
}

.hero-about__title-accent {
  color: var(--color-accent);
}

.hero-about__description {
  max-width: 570px;
  line-height: 1.53;
  color: var(--color-text-light);
  z-index: 3;
}

@media screen and (min-width: 411px) {
  .hero-about__container::before,
  .hero-about__container::after {
    content: '';
    position: absolute;
    width: 360px;
    height: 164px;
    background-image: url(../../../images/about/hero/decor.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
  }

  .hero-about__container::before {
    bottom: -40px;
    left: 20px;
    transform: translateY(-50%);
  }

  .hero-about__container::after {
    top: 10%;
    right: 0;
    transform: rotate(135deg);
  }
}

/* ======= TABLET ======= */

@media screen and (min-width: 768px) {
  .hero-about {
    background-image: url(../../../images/about/hero/bg-desktop.svg);
    height: 400px;
    background-repeat: repeat;
  }

  .hero-about__container::after {
    top: 20%;
  }

  .hero-about__title {
    max-width: 650px;
    font-size: 36px;
  }

  .hero-about__description {
    font-size: 18px;
  }
}

/* ======= LAPTOP ======= */

@media screen and (min-width: 1200px) {
  .hero-about__container::before {
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
  }

  .hero-about__container::after {
    top: 50%;
    right: 40px;
    transform: translateY(-50%) rotate(135deg);
  }

  .hero-about__title {
    font-size: 38px;
  }
}

/* ======= DESKTOP ======= */

@media screen and (min-width: 1440px) {
  .hero-about__container::after {
    right: 80px;
  }

  .hero-about__title {
    max-width: 692px;
    font-size: 40px;
  }
}
