.hero-popular {
  padding-block: 79px 166px;
  text-align: center;
  background-color: var(--color-bg-dark);
}

.hero-popular__title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 34px;
  line-height: 0.88;
  letter-spacing: 0.01em;
  color: var(--color-text-light);
}

.hero-popular__description {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-text-light);
}

@media screen and (max-width: 767px) {
  .hero-popular {
    background-image: url(../../images/popular-tools/hero-bg-mobile.png);
    background-repeat: no-repeat;
    background-position: center bottom 40px;
    background-size: 411px 240px;
  }
}

/* bg-image @2x for mobile */
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero-popular {
    background-image: url(../../images/popular-tools/hero-bg-mobile@2x.png);
  }
}

/* ======= TABLET ======= */

@media screen and (min-width: 768px) {
  .hero-popular {
    padding-block: 58px;
    background-image: url(../../images/popular-tools/hero-bg-desktop.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 768px 289px;
  }
}

/* bg-image @2x for tablet */
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero-popular {
    background-image: url(../../images/popular-tools/hero-bg-desktop@2x.png);
  }
}

/* ======= LAPTOP ======= */

@media screen and (min-width: 1200px) {
  .hero-popular {
    padding-block: 136px;
    background-size: 1200px 450px;
  }
}

/* ======= DESKTOP ======= */

@media screen and (min-width: 1440px) {
  .hero-popular {
    padding-block: 160px;
    background-size: 1326px 498px;
  }
}
